<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="/story.html">
        <input type="text" placeholder="Place:" name="place" required>
        <br>
        <br>
        <input type="text" placeholder="Noun:" name="noun" required>
        <br>
        <br>
        <input type="text" placeholder="Verb:" name="verb" required>
        <br>
        <br>
        <input type="text" placeholder="Adjective" name="adjective" required>
        <br>
        <br>
        <input type="text" placeholder="Plural Noun" name="plural_noun" required>
        <br>
        <br>
        <button>Submit</button>
    </form>
    
</body>
</html>